body {
    color: rgb(255,255,255);
}
h2, h3, h4, h5 {
    text-align: center;
    color: rgb(255,255,255);
    text-transform: uppercase;
}

#grad {
    background: linear-gradient(to top, rgba(237,67,67,.7), rgba(0,0,0,.8));
}

.mainFont {
    font-family: 'Shadows Into Light', cursive;
}

.main-menu {
    display: flex;
    margin: 0;
}

.appContainer {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    background-color: transparent;
    list-style-type: none;
    color: white;
}

.appContainer li {
    padding: 0.8em;
    list-style-type: none;
    text-decoration: none;
}

.appContainer a {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

.dropdown {
    overflow: hidden;
}

.dropdown .dropdown-button {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
}

.dropdown-button {
    display: flex;
}

.appContainer li:hover, .dropdown:hover .dropdown-button {
    list-style-type: none;
}

.dropdown-content {
    display: none;
    background: linear-gradient(to top, rgba(237,67,67,.7), rgba(0,0,0,.8));
}

.dropdown-content ul {
    padding: 0;
}

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: flex;
    background: transparent;
}

label {
    padding-left: 5em;
}​

.App input {
    font-size: 3rem;
    padding: 3em;
}

input[type=text] {
    color: rgba(0,0,0,.8);
    outline: none;
    font-size: 1.25rem;
    margin: 0.25rem;
}

input[type=number] {
    color: rgba(0,0,0,.8);
    outline: none;
    font-size: 1.25rem;
    margin: 0.25rem;
}

input[type=date] {
    color: black;
    outline: none;
    font-size: 1.25rem;
    margin: 0.25rem;
}

input[type=submit] {
    color: rgba(0,0,0,.8);
    font-size: 1.25rem;
    margin: 1em;
    margin-left: 5em;
}

select {
    color: rgba(0,0,0,.8);
    outline: none;
    font-size: 1.25rem;
    margin: 0.25rem;
}

textarea {
    color: rgba(0,0,0,.8);
    font-size: 1.25rem;
    margin: 0.25rem;
    margin-left: 5em;
}

.post-response div {
    display: flex;
    font-size: 1.25rem;
}

.listColName {
    display: flex;
    justify-content: space-between;
    color: rgb(255,255,255);
    font-size: 2em;
}

.appBackground h4 {
    color: rgb(255,255,255);
}

.appHeading h6 {
    display: flex;
    justify-content: space-between;
    color: rgb(255,255,255);
    font-size: 2em;
}

.appHeading h6 span {
    margin: 0em 0.5em;
}

.appLine div h6 {
    display: flex;
    justify-content: space-around;
    color: rgb(255,255,255);
    font-size: 2em;
}

.colonistPopulation {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 4em;
}